body {
  font-family: sans-serif;
  font-family: 'Raleway', sans-serif;
}
img{
    display:none;
}
nav{
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: transparent;
  padding: 5px 10px 5px 10px;
  box-shadow: 1px 1px 12px black;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
h1{
  font-size: 100px;
}
h4{
  position: absolute;
  top: 35vh;
  left: 101vh;
  color: white;
}
nav a{
  color: white;
  margin: 10px;
}
nav a:nth-child(2){
  margin-left: 69%;
}
nav a:hover{
  color: rgba(0,0,0,1);
  transition: all ease 0.5s;
}
a {
  text-decoration: none;
}
.hero{
  width: 100%;
  height: 100vh;
  background: url('https://picsum.photos/1920/1080/?random/?blur');
  background-repeat:no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
header  {
  width: 100%;
  position: absolute;
  top: 10vh;
  /*left:0;*/  
}
header h1{
  color: #FFF;
}
p {
  margin: 0;
}

h3 {
  margin-bottom: 5px;
}
h5 a{
  color: #FFF;
}
h5 a:hover{
  text-decoration: underline;
}
ul {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0 1.7em 1.7em 1.7em;
}

.wrapper {
  margin: 0px auto;
  width: 90%;
  border-radius: 0 0 2px 2px;
  background-color: -webkit-linear-gradient(130deg, #013A6B 50%, #004E95 50%);
}

.search-area {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}
input {
  background: #f2f2f2;
  border: 0px 2px 2px 3px;
  border-radius: 30px;
  font-size: 1.2em;
  padding: 5px 10px;
  height: 40px;
  width: 400px;
  font-size: 24px;
  box-shadow: 0 0 1px rgba(0,0,0,.8) inset;
  outline: none;
}

.wiki-links {
  padding: 1em 5%;
}
.wiki-links a{
  color: #1FA;
}

footer {
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #efa12b;
}

#no-match {
  text-align: center;
  padding-top: 30px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.autocomplete-suggestions { border: 1px solid #999;
background: #FFF;
overflow: auto; 
font-size: 1.2rem; 
}
.autocomplete-suggestion { padding: 2px 5px; 
white-space: nowrap; overflow: hidden; 
}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { 
font-weight: normal; 
color: #11ffaa; 
}
.autocomplete-group { padding: 2px 5px; }

.autocomplete-group strong { display: block; 
border-bottom: 1px solid #000; 
}

@media only screen and (max-width: 800px)
{ 
  
  .wrapper {
    width: 100%;
  }
  
  .search-area {
    width: 70%;
  }
  
  ul {
    width: 100%;
  }
  
}
