.saffron{
    background-color:#FF9933;
    
}
.home{
	color:white;
	height:50px;
	width:80px;
	border:solid ;
	border-width: 0px 0px 0px 0px;
	text-align:center;
	background:transparent;
}
.akshardham{
	color:white;
	height:50px;
	width:150px;
	border:solid ;
	border-width: 0px 0px 0px 1px;
	background:transparent;
	text-align:center;
}
.jama{
	color:white;
	height:50px;
	width:100px;
	border:solid ;
	border-width: 0px 0px 0px 1px;
	background:transparent;
	text-align:center;
}
.rajghat{
	color:white;
	height:50px;
	width:60px;
	border:solid ;
	border-width: 0px 0px 0px 1px;
	background:transparent;
	text-align:center;
}
.wd11{
    height:200px;
    width:500px;
}
.wd10{
    height:200px;
    width:400px;
}
.tour{
    text-align:center;
    color:white;
    font-family:Old English Text MT;
    font-size:50px;
    font-weight:bald;
    text-decoration: underline;
}
video{
    height:300px;
    width:500px;
}
.v{
    background-color:green;
}
.wd5{
    height:250px;
    width:500px;
}
.wd4{
    height:200px;
    width:500px;
}
.wd6{
    height:250px;
    width:600px;
}
.wd7{
    height:250px;
    width:500px;
}
.wd9{
    height:300px;
    width:700px;
}
.wd8{
    height:200px;
    width:500px;
}
.wd1{
     height:300px;
     width:500px;
}
.wd2{
     height:200px;
     width:500px;
}
.wd3{
     height:250px;
     width:500px;
}
.main{
      height:900px;
      font-family:cursive;
      font-size:18px;
      font-weight:bold;
}

}
.wd12{
      height:50px;
      width:50px;
      background-color:#F0F8FF;

}
table{
      float:right;
      background-color:#F0F8FF;
}

.akshardhamsel{
	color:white;
	height:50px;
	width:150px;
	border:solid;
	padding: 1px;
	border-width: 1px 1px 0px 1px;
	background:#FF6600;
	border-radius:5px;
	text-align:center;
}
.jamasel{
	color:white;
	padding: 1px;
	height:50px;
	width:100px;
	border:solid;
	border-width: 1px 1px 0px 1px;
	background:#FF6600;
	border-radius:5px;
	text-align:center;
}
.rajghatsel{
	color:white;
	padding: 1px;
	height:50px;
	width:60px;
	border:solid;
	border-width: 1px 1px 0px 1px;
	background:#FF6600;
	border-radius:5px;
	text-align:center;
}
.homesel{
	color:white;
	padding:1px;
        height:50px;
	width:80px;
	border:solid;
	border-width: 1px 1px 0px 0px;
	text-align:center;
	background:#FF6600;
	border-radius:5px;
}
.head{
      font-family:Comic Sans MS;
      text-decoration: underline;
}
.htd{    
    text-align:center;
    color:white;
    font-family:Old English Text MT;
    font-size:50px;
    font-weight:bald;
    text-decoration: underline;
      
}
.wd12{
      background-color:#F0F8FF;
}
.audio{
	position:fixed;
	float:right;
	background: #fff;
}